<!DOCTYPE HTML>

{% load staticfiles %}

<html>
  <head>
      <title>Rango!!!</title>

  </head>
  <body>
    <div>
        <a href="/auth/register/">Register Here</a> <br/>
        {% if user.is_authenticated  %}
        <h1>Rango says... Hello {{user.username}}</h1>
        {% else %}
        <h1>Rango says... May the Duck be with you!</h1>
        {% endif %}
        {% if categories_likes %}
          <h2>MOst liked categories</h2>
          <ul>
              {% for category in categories_likes %}
              <li><a href="/rango/category/{{category.slug}}">{{category.name}}</a></li>
              {% endfor %}
          </ul>
        {% else %}
            <p>There is no any liked category</p>
        {% endif %}

        {% if categories_views %}
          <h2>Most viewed categories</h2>
          <ul>
              {% for category in categories_views %}
              <li><a href="/rango/category/{{category.slug}}">{{category.name}}</a></li>
              {% endfor %}
          </ul>
        {% else %}
            <p>There is no any viewed category</p>
        {% endif %}

        <a href="/rango/add_category/">Add a New Category</a><br />

        <a href="/rango/about">About</a><br/>
        <img src="{% static 'images/rango.jpg' %}" alt="Rango image" />
    </div>
  </body>

</html>